*{
    margin : 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: "SUSE";
}

body{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: background-image 3s ease-in-out;

}

.main-contianer{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width:40vw;
    color:white;
    padding:20px
}
.person{
    margin-top: 20px;
    text-decoration: underline;
}
.next-quote{
    margin-top: 20px;
    padding:10px;
    border: none;
    cursor: pointer;
}